{
  "receivers": {
    "filelog/github_runner_optin": {
      "include": {{ include_files }},
      "start_at": "end"
    }
  },
{{ exporters_section }}
  "processors": {
    "resource/github_runner_optin": {
      "attributes": {{ resource_attributes }}
    }
  },
  "service": {
    "pipelines": {
      "logs/github_runner_optin": {
        "receivers": ["filelog/github_runner_optin"],
        "processors": ["resource/github_runner_optin", "batch"],
        "exporters": [{{ exporter_name }}]
      }
    }
  }
}
