# Point Docker at the configured registry mirror.
sudo mkdir -p /etc/docker
sudo tee /etc/docker/daemon.json > /dev/null <<'GARM_CHARM_DOCKER'
{{ daemon_json }}
GARM_CHARM_DOCKER
sudo systemctl daemon-reload
sudo systemctl restart docker
