/usr/bin/logger -s "OpenTelemetry collector is enabled."
/usr/bin/logger -s "Additional OpenTelemetry collector configuration can be added."
/usr/bin/logger -s "The exporter endpoint is at the environment variable ACTION_OTEL_EXPORTER_OTLP_ENDPOINT."
/usr/bin/sudo /usr/bin/mkdir -p /etc/otelcol/config.d
/usr/bin/sudo /usr/bin/touch /etc/otelcol/config.d/github.yaml
/usr/bin/sudo /usr/bin/tee /etc/otelcol/config.d/github.yaml <<EOF
receivers:
  hostmetrics:
    collection_interval: 10s
    scrapers:
      cpu:
        metrics:
          system.cpu.logical.count:
            enabled: true
          system.cpu.physical.count:
            enabled: true
      memory:
      disk:
      filesystem:
      network:
      load:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:44317
      http:
        endpoint: 0.0.0.0:44318
  loki:
    protocols:
      http:
        endpoint: 0.0.0.0:43100
    use_incoming_timestamp: true
  filelog/aproxy:
    include:
      - /var/log/syslog
    operators:
      - type: filter
        expr: 'body not matches "aproxy.aproxy"'
processors:
  attributes/self_hosted_runner_github_labels:
    actions:
      - key: service.name
        action: upsert
        value: "self-hosted-runner"
      - key: github.repository
        action: upsert
        value: "$GITHUB_REPOSITORY"
      - key: github.runner
        action: upsert
        value: "$RUNNER_NAME"
      - key: github.workflow
        action: upsert
        value: "$GITHUB_WORKFLOW"
      - key: github.job
        action: upsert
        value: "$GITHUB_JOB"
      - key: github.run.id
        action: upsert
        value: "$GITHUB_RUN_ID"
      - key: github.run.attempt
        action: upsert
        value: "$GITHUB_RUN_ATTEMPT"
      - key: host.arch
        action: upsert
        value: "$(uname -m)"
  resource/self_hosted_runner_github_labels:
    attributes:
      - key: service.name
        action: upsert
        value: "self-hosted-runner"
      - key: github.repository
        action: upsert
        value: "$GITHUB_REPOSITORY"
      - key: github.runner
        action: upsert
        value: "$RUNNER_NAME"
      - key: github.workflow
        action: upsert
        value: "$GITHUB_WORKFLOW"
      - key: github.job
        action: upsert
        value: "$GITHUB_JOB"
      - key: github.run.id
        action: upsert
        value: "$GITHUB_RUN_ID"
      - key: github.run.attempt
        action: upsert
        value: "$GITHUB_RUN_ATTEMPT"
      - key: host.arch
        action: upsert
        value: "$(uname -m)"
  resource/self_hosted_runner_github_aproxy_labels:
    attributes:
      - key: service.name
        action: upsert
        value: "aproxy"
  transform/self_hosted_runner_loki_labels:
    log_statements:
      - context: resource
        statements:
          - >
            set(resource.attributes["loki.resource.labels"],
            Concat([resource.attributes["loki.resource.labels"],
            ", service.name, github.repository, github.runner, github.workflow, github.job, github.run.id, github.run.attempt, host.arch"], ""))
            where resource.attributes["loki.resource.labels"] != nil
          - >
            set(resource.attributes["loki.resource.labels"],
            "service.name, github.repository, github.runner, github.workflow, github.job, github.run.id, github.run.attempt, host.arch")
            where resource.attributes["loki.resource.labels"] == nil
  batch:
exporters:
  otlp/self_hosted_runner:
    endpoint: {{ endpoint }}
    tls:
      insecure: true
service:
  pipelines:
    metrics:
      receivers: [hostmetrics]
      processors: [attributes/self_hosted_runner_github_labels, batch]
      exporters: [otlp/self_hosted_runner]
    metrics/otlp:
      receivers: [otlp]
      processors: [attributes/self_hosted_runner_github_labels, batch]
      exporters: [otlp/self_hosted_runner]
    logs/otlp:
      receivers: [otlp]
      processors:
        - resource/self_hosted_runner_github_labels
        - transform/self_hosted_runner_loki_labels
        - batch
      exporters: [otlp/self_hosted_runner]
    logs/loki:
      receivers: [loki]
      processors:
        - resource/self_hosted_runner_github_labels
        - transform/self_hosted_runner_loki_labels
        - batch
      exporters: [otlp/self_hosted_runner]
    logs/aproxy:
      receivers: [filelog/aproxy]
      processors:
        - resource/self_hosted_runner_github_labels
        - resource/self_hosted_runner_github_aproxy_labels
        - transform/self_hosted_runner_loki_labels
        - batch
      exporters: [otlp/self_hosted_runner]
    traces:
      receivers: [otlp]
      processors: [resource/self_hosted_runner_github_labels, batch]
      exporters: [otlp/self_hosted_runner]
EOF

/usr/bin/sudo /usr/bin/snap enable opentelemetry-collector
/usr/bin/sudo /usr/bin/snap start opentelemetry-collector