name: Internal Packages Tests

on:
  pull_request:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test Internal Packages
    runs-on: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Ensure No Formatting Changes
        run: |
          go fmt ./...
          git diff --exit-code

      - name: Run Unit and Integration Test of internal packages
        env:
          POSTGRESQL_DB_CONNECT_STRING: postgres://postgres:postgres@localhost:5432/postgres
        run: |
          go test -v -coverprofile=coverage.out -race -tags=integration ./internal/...

      - name: Print coverage report
        run: |
          go tool cover -func=coverage.out

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
