name: Publish Planner to edge

on:
  push:
    branches:
      - main
      - track/*

jobs:
  publish-to-edge:
    uses: canonical/operator-workflows/.github/workflows/publish_charm.yaml@main
    secrets: inherit
    with:
      integration-test-workflow-file: planner_tests.yaml
      resource-mapping: '{"planner": "app-image"}'
      working-directory: ./planner-operator
