name: Publish Webhook Gateway to edge

on:
  push:
    branches:
      - main
      - track/*

jobs:
  publish-to-edge:
    uses: canonical/operator-workflows/.github/workflows/publish_charm.yaml@main
    secrets: inherit
    with:
      integration-test-workflow-file: webhook_gateway_tests.yaml
      resource-mapping: '{"webhook-gateway": "app-image"}'
      working-directory: ./webhook-gateway-operator
